<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">User App</a>
    
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="/create-password" class="nav-link">Create Password</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <h1>Users List</h1>
  <hr>
  <br>
  <router-outlet></router-outlet>
</div>