<form [formGroup]="createPasswordForm" (ngSubmit)="onCreatePassword()">
    <fieldset style="max-width: 500px;">
      <div class="form-group">
        <label for="email" class="form-label mt-4">Email address</label>
        <input type="email" class="form-control" ng-class="{'is-invalid': submitted && createPasswordForm.controls.emailAddress.errors}" required id="emailAddress" formControlName="emailAddress" placeholder="Enter email">
        <div *ngIf="submitted && createPasswordForm.controls.confirmPassword.errors">
            <small *ngIf="submitted && createPasswordForm.controls.emailAddress.errors?.required" class="form-text text-danger">This field is required.</small>
            <small *ngIf="submitted && createPasswordForm.controls.emailAddress.errors?.email" class="form-text text-danger">The email address is not valid.</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="form-label mt-4">Password</label>
        <input type="password" class="form-control" required id="password" ng-class="{'is-invalid': submitted && createPasswordForm.controls.password.errors}" formControlName="password" placeholder="Password">
        <div *ngIf="submitted && createPasswordForm.controls.password.errors">
            <small *ngIf="submitted && createPasswordForm.controls.password.errors?.required" class="form-text text-danger">This field is required.</small>
            <small *ngIf="submitted && createPasswordForm.controls.password.errors?.minlength" class="form-text text-danger">The password must contain at least 6 characters.</small>
            <small *ngIf="submitted && createPasswordForm.controls.password.errors?.pattern" class="form-text text-danger">The password must contain at least one lowercase letter, capital and number.</small>

        </div>
      </div>
      <div class="form-group">
        <label for="confirm-pass" class="form-label mt-4">Confirm Password</label>
        <input type="password" class="form-control" ng-class="{'is-invalid': submitted && createPasswordForm.controls.confirmPassword.errors}" required id="confirm-pass" formControlName="confirmPassword" placeholder="Confirm Password">
        <div *ngIf="submitted && createPasswordForm.controls.confirmPassword.errors">
            <small *ngIf="submitted && createPasswordForm.controls.confirmPassword.errors?.required" class="form-text text-danger">This field is required.</small>
            <small *ngIf="submitted && createPasswordForm.controls.confirmPassword.errors?.minlength" class="form-text text-danger">The password must contain at least 6 characters.</small>
            <small *ngIf="submitted && createPasswordForm.controls.confirmPassword.errors.mustMatch" class="form-text text-danger">The passwords do not match.</small>
        </div>
      </div>
    </fieldset>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>